version: '3'
services:
  postgres:
    image: postgres:15
    container_name: postgres
    env_file:
      - ./ASPShopAPI/.env
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  web-server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: asp_shop_api
    env_file:
      - ./ASPShopAPI/.env
    ports:
      - "5070:5070"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres-data:
