version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres
    env_file:
      - ./ASPShopAPI/.env
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  migrate:
    image: mcr.microsoft.com/dotnet/sdk:8.0
    container_name: asp_shop_migrate
    working_dir: /source/ASPShopAPI
    env_file:
      - ./ASPShopAPI/.env
    volumes:
      - ./ASPShopAPI:/source/ASPShopAPI
    depends_on:
      postgres:
        condition: service_healthy
    entrypoint:
      - sh
      - -c
      - |
        dotnet tool install --global dotnet-ef --version 10.0.2 &&
        export PATH="$PATH:/root/.dotnet/tools" &&
        dotnet restore &&
        dotnet ef database update
  
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: asp_shop_api
    env_file:
      - ./ASPShopAPI/.env
    ports:
      - "5070:5070"
    depends_on:
      postgres:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully

volumes:
  postgres-data: {} 
